.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
version.txt
$RECYCLE.BIN/

ClientBin/
src/SolutionVersion.cs

nsb**.txt

pkg/*.nupkg
pkg/*.zip

build_output/
code_drop/
configurator/
src/UI/asp.net/Allied.SmallBiz.ASP/SmallBiz.MVC/SmallBiz.MVC/p2p-app/node_modules
.vs
*.mdf
*.ldf

BuildDate.txt
*.generated.less
*.vars.less
!default.vars.less

*_versioned*

.csproj.user

[Dd]ebug/
[Bb]uild/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Pp]ackages/
VersionInfo.cs

*.aps
*.bak
*.backup
*.build.csdef
*.cache
*.ilk
*.lib
*.log
*.meta
*.ncb
*.obj
*.orig
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vspscc
*.[Pp]ublish.xml
*_i.c
*_p.c
.builds
.svn
.hg
.hgignore
